/* 
*{
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: #cccccc;
    background-size: cover;
    position: fixed;
 
}

nav{
    background: #1dafef;
    padding: 15px 200px 15px 200px;
    border-left: none;
    border-right: none;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    margin-bottom: 100px;


}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;

}





nav ul li.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;

   
}

nav ul div.login{
    padding: 0 10px;
    display: block;
    justify-content: center;

}

nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
}


nav ul div.login a, h1{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}

nav ul div.login-usuario{
    display: flex;
}


nav ul .search-icon{
    height: 40px;
    width: 600px;
    display: flex;
    background:white;
    border-radius: 5px;

    

}

nav ul .search-icon input{
    height: 100%;
    width: 560px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    
}


nav .servicos li a{
    color: white;
    display: block;
    padding: 0 10px 0 10px;
    font-size: 20px;
    background: #1dafef;
    transition: .5s;

  }

  nav ul .servicos{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
    margin: 34px 0 0 0;
  }
  nav ul li:hover > .servicos{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul .servicos li{
    width: 250px;
    display: list-item;
    position: relative;
    border: 0.5px solid #46bbf6;
    border-top: none;
    
  }
  nav ul .servicos li a{
    line-height: 50px;
  }
  nav ul .servicos ul{
    border-top: none;
  }

  a {
    text-decoration:none;
    }
    
    [aria-label] {
    position: relative;
    }
    
    [aria-label]::after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    z-index: 5000;
    pointer-events: none;
    padding: 8px 10px;
    text-decoration: none;
    font-size: .9em;
    color: #fff;
    background-color:  #1dafef;
    }
    
    [aria-label]:hover::after {
    display: block;
    }

.carrossel{
    background: #000;
}


.container {
    position: relative;
    padding: 15px;
    max-width: 1440px;
    margin: auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color:#46bbf6;
    transition: all 50ms ease-in-out;
    background: transparent;
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 2;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: transparent;
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .item {
    width: 1410px;
    height: 300px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }

  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  

  .gallery-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  