
.card{
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
    padding: 0 35px 20px 35px;
    transition: all 0,3s ease-out;
    background: whitesmoke;
    width: 180PX;
    margin: 10px 0 10px 20px;
    color: #146b97;

}

h2{
   margin-top: 10px;
   margin-bottom: 3px;
   font-size: 14px;
}
h3{
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 12px;
    text-decoration: line-through;
    color: rgb(255, 94, 94);
 }

p{
   margin-bottom: 7px;
   font-size: 13px;
 
}

.desconto{
    width:27%;
    position: relative;
    top: 18px;
    right: 50px;
    z-index: 1;
}

img{
    width:100%;
    justify-items: center;
}

.button{
    width: 100%;
    border-radius: 5px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;

 }

 
 .button:hover{
    cursor: pointer;
    background: #3c67a4;
    text-decoration: none;
}


