.divCard{
    display: inline-block;   
    justify-content: center;
    text-decoration: none;

}

.row{
    text-align: center;
    margin: 20px;
    margin-right: 20px;

 }
 
 .card{
     border-radius: 12px;
     box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
     padding: 25px;
     transition: all 0,3s ease-out;
     background: whitesmoke;
     width: 160PX;
     text-align: center;
 }
  
 .card:hover{
     transform: translateY(-5px);
     cursor: pointer;
 }
 

 .divTitulo {
    height: 60px; /* Altura aumentada para caber textos maiores */
    color: #146b97;  
}
  
  .titulo {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 12px;
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    overflow: hidden; /* Esconda qualquer texto que não couber */
    text-overflow: ellipsis; /* Corte o texto que ultrapassar a altura */
  }

 .preco{
    color: #146b97;  
 }
 
 .image{
     width:70%;
     justify-items: center;
 }
 
 .button{
    width: 100%;
    border-radius: 5px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;

 }

 
 .button:hover{
    cursor: pointer;
    background: #3c67a4;
    text-decoration: none;
}

