.divCard{
    display: inline-block;   
    justify-content: center;
    text-decoration: none;
}

.row{
    text-align: center;
    margin: 25px;
 }
 
 .card{
     border-radius: 12px;
     box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
     padding: 25px;
     transition: all 0,3s ease-out;
     background: whitesmoke;
     width: 140PX;
 }
  
 .card:hover{
     transform: translateY(-5px);
     cursor: pointer;
 }
 
 .card p{
     color: #146b97;  
     font-size: small;   
 }

 .titulo{
    margin-top: 10px;
    margin-bottom: 3px;
 }

 .preco{
    margin-bottom: 7px;
 }
 
 .image{
     width:70%;
     justify-items: center;
 }
 
 .button{
    width: 100%;
    border-radius: 5px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;

 }

 
 .button:hover{
    cursor: pointer;
    background: #3c67a4;
    text-decoration: none;
}

