.footer {
    background: #033579;
    color: #ffffff;
    padding: 2em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
}

.socialList li{
    margin: 0 1em;
    font-size: 1.7em;
    cursor: pointer;
}

.socialList li:hover{
    color:rgb(144, 202, 252);

}

.footer p{
    font-size: 1em;
    font-weight: bold;
}

.footer h1{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 20px;
    color: #ffffff;
}

.footer h1:hover{
    color:rgb(144, 202, 252);
}

a:link {text-decoration: none;}