.gridContainer {
    display: grid;
    grid-template-columns: 20em 30em 25em;
    grid-template-rows: 40em;
    padding: 10px;
    color: #146b97;  

  }
  
.gridItemLong {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #146b97;  
    margin-bottom: 50px;
  }

.imagem{

}


.titulo{
    font-weight: bold;
}

.autor{
    text-align: left;
    font-size: 16px;    

}

.editora{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.descricao{
    text-align: justify;
    font-size: 14px;

}

.compra{
    border: #149740;
    background:rgb(144, 202, 252);
    border-radius: 15px;
    padding: 30px;

}

.preco{
    font-size: 20px;
}

.button{
    width: 100%;
    height: 3em;
    border-radius: 20px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;
    font-weight: bold;

 }

 
 .button:hover{
    cursor: pointer;
    background: #3c67a4;
    text-decoration: none;
}

.ficha1, .ficha2{
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        flex-wrap: nowrap;
        font-size: 17px;
        color: #146b97;  
        border-radius: 10px;
}

.ficha2{
    background:rgb(144, 202, 252);
}

.h1{
        text-align: left;
        margin-bottom: 30px;
}

.fichaTh{
    font-weight: bold;
}

span{
    margin: 15px;

}