*{
    scroll-behavior: smooth;
    text-decoration: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background:  #033579;
    padding: 1em;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    z-index: 999;

}


.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 1em;
}

.item{
    margin-right: 1em;
    text-decoration: none;
}

.item a{
    text-decoration: none;
}

.search{
    height: 40px;
    width: 600px;
    display: flex;
    background:white;
    border-radius: 5px;
    margin-right: 3em;
}

.search input{
    height: 100%;
    width: 560px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #015a80;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    
}

.loginUser{
    display: flex;
    margin-right: 3em;
    text-decoration: none;

}

.login{
    padding: 0 10px;
    display: block;
    text-decoration: none;
}

.login h1, a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

}


.login h1{
    font-weight: bolder;
}


.loginAcesso :hover{
    color:rgb(144, 202, 252);
}

