*{
    scroll-behavior: smooth;
    text-decoration: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background:  #033579;
    padding: 1em;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    z-index: 999;

}


.imgUser{
    width: 50%;
    justify-content: center;
}


.divLogin{
    display: block;
   
}

.boasVindas{
    font-weight: bolder;
    margin: 0px 2px 0 2px;
}   

.entre{
    text-align: left;
    font-weight: bolder;
    margin: 0px 2px 0 2px;
}



.loginUser{
    display: flex;
    margin-right: 3em;
    text-decoration: none;
}


.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 1em;
}

.item{
    margin-right: 1em;
    text-decoration: none;
}

.item a{
    text-decoration: none;
}

.item img{
    height: 31px;
}


.search{
    height: 40px;
    width: 595px;
    background:white;
    border-radius: 7px;
    margin-right: 3em;
}

.search input{
    width: 550px;
    border: none;
    outline: none;
    padding: 0 0 10px 15px ;
    color: #015a80;
    font-size: 16px;

}

.formSearch{
    display: flex;

}

.search input{
    bottom: 3px;
}

.search button{
    width: 55px;
    height: 35px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 22px;
    border-radius: 5px;
}


.lupaSearch{
    width: 40px;

}





.login h1, a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

}




.loginAcesso :hover{
    color:rgb(144, 202, 252);
}




.resultadoContainer{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.destaqueContainer{
    width: 100%;
    text-decoration: none;

}

.tituloResultadoContainer {
    margin-top: 1em;
    margin-bottom: 1em;
  }


.carouselContainer{
    width: 100%;
    text-decoration: none;
}


.linkHome{
    color:  #015a80;
    text-decoration: none;
    text-align: left;
}


.linkHome:hover{
    color:rgb(144, 202, 252);
}

.desconto{
    width:27%;
    position: relative;
    top: 18px;
    right: 9px;
    z-index: 1;
}


.oferta {
    color:  #015a80;
    font-size: 25px;
    margin-bottom: 25px;
}

.destaque {
    color:  #015a80;
    font-size: 25px;
}

h4{
    color:  #015a80;
    font-size: 17px;

  
}

.divTitulo {
    height: 60px; /* Altura aumentada para caber textos maiores */
    color: #146b97;  
}
  
  .titulo {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 12px;
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    overflow: hidden; /* Esconda qualquer texto que não couber */
    text-overflow: ellipsis; /* Corte o texto que ultrapassar a altura */
  }



.gridContainer {
    display: grid;
    grid-template-columns: 20em 30em 25em;
    grid-template-rows: 35em;
    padding: 10px;
    color: #146b97;  
    margin-top: 50px;
  }
  
.gridItemLong {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #146b97;  
    margin-bottom: 50px;
  }

.titulo{
    font-weight: bold;
}

.autor{
    text-align: left;
    font-size: 16px;    

}

.editora{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.descricao{
    text-align: justify;
    font-size: 14px;

}

.compra{
    background:rgb(192, 225, 255);
    border-radius: 15px;
    padding: 30px;

}

.preco{
    font-size: 20px;
}

.button{
    width: 100%;
    height: 3em;
    border-radius: 20px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;
    font-weight: bold;

 }

 
 .button:hover{
    cursor: pointer;
    background: #3c67a4;
    text-decoration: none;
}

.ficha{
    border: solid 1px rgb(192, 225, 255);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.ficha1, .ficha2{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-wrap: nowrap;
        font-size: 17px;
        color: #146b97;  
        border-radius: 10px;
        margin-bottom: 0;

}

.ficha2{
    background:rgb(192, 225, 255);
}

.h1{
        text-align: left;
        margin-bottom: 30px;
}

.fichaTh{
    font-weight: bold;
}

span{
    margin: 15px;

}

.divCard{
    margin-top: 20px;    
    display: inline-block;   
    justify-content: center;
    text-decoration: none;
}