*{
    scroll-behavior: smooth;
    text-decoration: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background:  #033579;
    padding: 1em;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    z-index: 999;

}


.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 1em;
}

.item{
    margin-right: 1em;
    text-decoration: none;
}

.item a{
    text-decoration: none;
}

.search{
    height: 40px;
    width: 600px;
    display: flex;
    background:white;
    border-radius: 5px;
    margin-right: 3em;
}

.search input, button{
    height: 100%;
    width: 540px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #015a80;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    
}

.search button{
    height: 100%;
    width: 60px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 22px;
    border-radius: 5px;
}

.search img{
    height: 100%;
    width: 40px;
}

.loginUser{
    display: flex;
    margin-right: 3em;
    text-decoration: none;

}

.login{
    padding: 0 10px;
    display: block;
    text-decoration: none;
}

.login h1, a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

}


.login h1{
    font-weight: bolder;
}


.loginAcesso :hover{
    color:rgb(144, 202, 252);
}




.homeContainer{
    width: 100%;
    text-decoration: none;
    margin-top: 50px;

}

.linkHome{
    color:  #015a80;
    text-decoration: none;
    text-align: left;
}


.linkHome:hover{
    color:rgb(144, 202, 252);
}

h2{
    color:  #015a80;
    font-size: 25px;
    margin-top: 30px;
}

h4{
    color:  #015a80;
    font-size: 17px;

  
}


.divCard{
    margin-top: 20px;    
    display: inline-block;   
    justify-content: center;

}

.row{
    text-align: center;
    margin: 20px;
    
 }
 
 .card{
     border-radius: 12px;
     box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
     padding: 10px;
     transition: all 0,3s ease-out;
     background: whitesmoke;
     width: 150PX;

 }
  
 .card:hover{
     transform: translateY(-5px);
     cursor: pointer;
 }
 
 .card p{
     color: #146b97;  
     font-size: small;   
 }

 .titulo{
    margin-top: 10px;
    margin-bottom: 3px;
 }

 .preco{
    margin-bottom: 7px;
 }
 
 .image{
     width:70%;
     justify-items: center;
 }
 
 .button{
    width: 100%;
    border-radius: 5px;
    /* background: #3c67a4; */
    color: aliceblue;
    background: #033579;

 }
 
 .button:hover{
    cursor: pointer;
        background: #3c67a4;
}