*{
  scroll-behavior: smooth;
  text-decoration: none;
}


.navbar{
  display: flex;
  justify-content: space-between;
  background:  #033579;
  padding: 1em;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
  z-index: 99999;

}


.imgUser{
  width: 50%;
  justify-content: center;
}

.list, .listH1 {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 1em;
}

.listH1{
  font-weight: bolder;
  margin-left: 600px;
  margin-top: 25px;
  font-size: large;
  color: #ffffff;
}

.listH1:hover{
  color:rgb(144, 202, 252);
}


a:link {text-decoration: none;}

.divLogin{
  display: block;
 
}

.boasVindas{
  font-weight: bolder;
  margin: 0px 2px 0 2px;
}   

.entre{
  text-align: left;
  font-weight: bolder;
  margin: 0px 2px 0 2px;
}



.loginUser{
  display: flex;
  margin-right: 3em;
  text-decoration: none;
}


.login h1, a{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

}


.linkHome{
  color:  #015a80;
  text-decoration: none;
  text-align: left;
}


.linkHome:hover{
  color:rgb(144, 202, 252);
}



.loginAcesso :hover{
  color:rgb(144, 202, 252);
}

.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  border-color: #146b97;
  max-width: 800px;
  max-height: 100%;
  margin: 90px auto 0px auto;
  padding: 30px;
  color: #146b97;
  background:rgb(199, 229, 255);

}

.formContactLabel{
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  border-color: #146b97;

}

.formContactInput, .formContactTextArea {
  width: 100%;
  padding: 5px 5px;
  border-radius: 0.25rem;
  border: 1px solid #146b97;
  margin-bottom: 0.8rem;
  font-size: inherit;
  color: #033579;
  background: aliceblue;
}


.formContactInput:focus::-webkit-input-placeholder {
  color: transparent;
  }

.formContactInput:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
    }
    
.formContactInput:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
    }
    
.formContactInput:focus:-ms-input-placeholder {  
    color: transparent;  
    }
    

.formContactButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #033579;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
  font-weight: bold;
}


.formContactButton:hover{
  color: #fbf4f4;
  background-color: rgb(144, 202, 252);
}
