
*{
    scroll-behavior: smooth;
    text-decoration: none;
}


.homeContainer{
    width: 100%;
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #033579;
    padding: 1em;
    position: fixed; /* Mudança aqui */
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  
  .pesquisaLivro {
    position: fixed; /* Mudança aqui */
    top: 10px; /* Ajuste essa posição para deixar a barra de pesquisa no lugar certo */
    left: 35%;
    z-index: 99;
  }

.imgUser{
    width: 50%;
    justify-content: center;
}


.divLogin{
    display: block;
   
}

.boasVindas{
    font-weight: bolder;
    margin: 0px 2px 0 2px;
}   

.entre{
    text-align: left;
    font-weight: bolder;
    margin: 0px 2px 0 2px;
}



.loginUser{
    display: flex;
    margin-right: 3em;
    text-decoration: none;
}


.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 1em;
}

.item{
    margin-right: 1em;
    text-decoration: none;
}

.item a{
    text-decoration: none;
}

.item img{
    height: 31px;
}


.search{
    height: 40px;
    width: 450px;
    background:white;
    border-radius: 7px;
    margin-right: 3em;
}

.search input{
    width: 550px;
    border: none;
    outline: none;
    padding: 0 0 10px 15px ;
    color: #015a80;
    font-size: 16px;

}

.formSearch{
    display: flex;

}

.search input{
    bottom: 3px;
}

.search button{
    width: 55px;
    height: 35px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 22px;
    border-radius: 5px;
}


.lupaSearch{
    width: 40px;

}





.login h1, a{
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

}




.loginAcesso :hover{
    color:rgb(144, 202, 252);
}




.resultadoContainer{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.destaqueContainer{
    width: 100%;
    text-decoration: none;

}

.tituloResultadoContainer {
    margin-top: 15vh;
    margin-bottom: 1em;
}

.carouselContainer{
    width: 100%;
    text-decoration: none;
}


.linkHome{
    color:  #015a80;
    text-decoration: none;
    text-align: left;
}


.linkHome:hover{
    color:rgb(144, 202, 252);
}

.desconto{
    width:27%;
    position: relative;
    top: 18px;
    right: 9px;
    z-index: 1;
}


.oferta {
    color:  #015a80;
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 1em;
}

.destaque, .resultadoBusca {
    color:  #015a80;
    font-size: 25px;
    margin-left: 1em;
}

.resultadoBusca {
    margin-top: 1em;
}
.resultadoCount {
    color:  #015a80;
    font-size: 18px;
    margin-left: 1.3em;
    margin-top: 1.5em;

}

.linhaHorizontal {
    width: 1200px;
    border: 0.05px outset rgba(144, 202, 252, 0.26);
    margin-left: 0.7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h4{
    color:  #015a80;
    font-size: 17px;

  
}

.divTitulo {
    height: 60px; /* Altura aumentada para caber textos maiores */
    color: #146b97;  
}
  
  .titulo {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 12px;
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    overflow: hidden; /* Esconda qualquer texto que não couber */
    text-overflow: ellipsis; /* Corte o texto que ultrapassar a altura */
  }

  @media only screen and (max-width: 1500px) {
    .pesquisaLivro {
        left: 450px;
      } 
}

@media only screen and (max-height: 600px) {
    .tituloResultadoContainer {
        margin-top: 30vh;

    }
}
