@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
    list-style: none;
    text-decoration: none;

}

.tela{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to top, #efefef, 
    #efefef);
}

.tela .ul{
    margin-top: 25%;
    margin-right: 15%;
}

.tela .ul .li{
    margin-bottom: 15%;

    
}

.tela .ul .li img{
    width: 18%;
    margin-right: 3%;
}

.tela .ul .li h2{
    margin-bottom: 0%;
    
}

.menu-lateral-closed{
    width: 7%;
    background-color: #ffffff;
 
}

.menu-lateral-open{
    width: 17%;
    background-color: #ffffff;
}


.display{
    width: 100%;
}

.display h1{
    margin-top: 5%;
}


.ul a{
    text-decoration: none;
    color: black;
    font-size: small;
}

.arrow{
    border: none;
    margin-top: 9%;
    background-color: #ffffff;
}

.menu-lateral-closed .arrow{
    margin-top: 19%;
}

.menu-lateral-closed .ul .li-usuario img
{
    width: 70%;
    margin-right: 60%;
    margin-top: 70%;
    margin-left: 0%;
}

.menu-lateral-closed .ul .li {
    font-size: large;
    margin-right: 30px;
    margin-top: 45%;
}

.menu-lateral-closed .ul .li img {
    width: 70%;
}


.menu-lateral-closed .ul .li h2
{
    font-size: large;
    margin-right: 1%;

}

.menu-lateral-closed .ul .li .sair{
    margin-right: 1%;
    margin-top: 3%;
}




