
.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}


.modalCarrinho {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    justify-content: center;
    align-items: center;
    z-index: 2001;
    background: whitesmoke;
    text-shadow: 5px 5px 15px rgba(1, 23, 61, 0.22);
    margin-top: 4%;
  }
  
  
.navBarCarrinho{
  background:  #033579;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}



.navBarCarrinhoUl{
  margin: 0 0 0 1em;
  padding: 0;
}

.sacolaH1{
  margin: 4px 0 0 10px;
  color: aliceblue;
  font-size: 18px;
}  

.imgFechar{
  color: rgba(240, 248, 255, 0.785);
  font-size: 1.5em;
  margin: 0 1em 0 0;
}

.navBarCarrinhoButton{
  border:none;
  background-color:transparent;
  cursor: pointer;
  /* opacity: 0.8; */
}

.listaItemCarrinho{
  width: 100%;
  height:65%;
  display: flex;
  justify-content: space-around;
}


.totalCarrinho{
  background:  #033579;
  width: 100%;
  height:50%;
  justify-content: center;
}

.valorCarrinho{
  width: 100%;
  padding: 1.5em;
}


.carrinhoButtonComprar{
  width: 100%;
  height: 2em;
  text-align: center;  
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color: #146b97;  
}



.carrinhoButtonComprar:hover{
  cursor: pointer;
  background: rgb(192, 225, 255);
  text-decoration: none;
  color: rgb(255, 255, 255)
}


.valorSubtotal, .valorTotal{
  display: flex;
  justify-content: space-between;
  padding: 7px;
  flex-wrap: nowrap;
  font-size: 18px;
  color: rgb(192, 225, 255);
  border-radius: 10px;
  margin-bottom: 0;
  list-style-type: none;
}

.valorTotal{
  font-size: 20px;
  font-weight: bold;
}


span{
  margin: 15px;

}

.containerLista {
  display: grid;
  grid-template-columns: 5em 14em;
  grid-template-rows: 8em;
  padding: 10px;
  color: #146b97;  
}

.gridListaInfo {
  display: grid;
  grid-template-columns: repeat(2, 8em);
  grid-template-rows: 4em 4em;
  padding: 0;
  margin: 0;
  color: #146b97;
  align-items: center;

}


.gridInfo {
  font-size: 10px;
  text-align: center;
  color: #146b97;
  align-items: center;
  justify-content: center;

}

.tituloItem{
  margin: 0;
  color: #146b97; 
  font-size: 18px;
} 

.imgExcluirItemCarrinho{
  text-align: center;  
  font-size: 2em;
  text-decoration: none;
  border: none;
  color: #146b97;  
  background: whitesmoke;
}



.carrinhoButtonComprar:hover{
  cursor: pointer;
  background: rgb(192, 225, 255);
  text-decoration: none;
  color: rgb(255, 255, 255)
}

@media (min-width: 768px) {
  .modalCarrinho {
    width: 35%;
    top: 2vw;

  }
}

@media (min-width: 992px) {
  .modalCarrinho {
    width: 30%;
    top: 2vw;
  }
}
