

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: whitesmoke;
    margin-top: 1%;
    text-shadow: 5px 5px 15px rgba(1, 23, 61, 0.22);
  }
  
  
.gridContainer {
  display: grid;
  grid-template-columns: 20em 30em 25em;
  grid-template-rows: 30em;
  padding: 10px;
  color: #146b97;  
}

.gridItemLong {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #146b97;  
}

.imagem{
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
}

.titulo{
  font-weight: bold;
  color: #146b97;
  font-size: 0.8em;

}

.autor{
  text-align: left;
  font-size: 16px;    
  color: #146b97;
}

.editora{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.descricao{
  text-align: justify;
  font-size: 14px;

}

.compra{
  background:rgb(205, 231, 255);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 2px 2px 12px 2px rgba(1, 23, 61, 0.22);
}

.preco{
  font-size: 30px;
  color: #146b97;
  font-weight: 700;
}

.buttonAdicionarSacola{
  width: 100%;
  height: 2em;
  border-radius: 20px;
  text-align: center;  
  background: #033579;
  border: none;

}

.h1AdicionarSacola{
  color: aliceblue;
  font-size: 20px;
  text-align: center;  
  font-weight: bold;
  margin: 0;
}

.buttonAdicionarSacola:hover{
  cursor: pointer;
  background: #3c67a4;
  text-decoration: none;
}


.ficha{
  border: solid 1px rgb(205, 231, 255);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 20px 1px rgba(1, 23, 61, 0.042);
}

.ficha1, .ficha2 {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  flex-wrap: nowrap;
  font-size: 17px;
  color: #146b97;
  border-radius: 10px;
  margin-bottom: 0;
  list-style-type: none;
}

.ficha2{
  background:rgb(192, 225, 255);
}

.fichaH1{
      text-align: left;
      color: #146b97;
      font-size: 1.5em;
      margin-left: 0.2em;
}


.fichaTh{
  font-weight: bold;
}

span{
  margin: 15px;

}

